.wrapper-menu-cubo {
  color: #768c93;
  font-size: 14px;
  text-transform: uppercase;
}

.menu-cubo {
  display: flex;
}

.menu-cubo > .item:not(:last-child) {
  margin-right: var(--spacing-medium);
}
